//basic styles
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  background-size: 100%;
  background-image: url(https://abs.twimg.com/a/1457130698/img/t1/lohp_streams_header_bg_v4.png);
}

button {
  border-radius: 0;
}
