.dropdown-instance {
  text-align: center;

  button {
    width: 90%;
    font-family: $font-accent;
    font-size: 30px;
  }

  .btn-group {
    width: 90%;
  }

  .btn {
    width: 90%;
    font-family: $font-accent;
    font-size: 30px;
  }

  ul > li {
    width: 90%;
    font-family: $font-accent;
    font-size: 24px;
  }
}
